<!DOCTYPE html>
<html>
	<head>
		<title>{{page.title}}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">here</a></li>
			<li><a href="/concerts">concerts</a></li>
	        	<li><a href="/social">social</a></li>
            <li><a href="/design">design</a></li>
        		<li><a href="/photo">photo</a></li>
            <li><a href="/video">video</a></li>
            <li><a href="/published">published</a></li>
			<li><a href="/zine">zine</a></li>
			<li><a href="/modeling">modeling</a></li>
    		</ul>
		</nav>
		<div class="container">
			
		{{ content }}
			
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:sabrinadotli@gmail.com">email</a></li>
        		<li><a href="https://www.instagram.com/tr4nsi3nt/">instagram</a></li>
            <li><a href="https://www.youtube.com/missstak">youtube</a></li>
            <li><a href="https://open.spotify.com/user/12151275245?si=ha7VyCODShO42bqWJUccVg">spotify</a></li>
            <li><a href="https://www.last.fm/user/missstak">last.fm</a></li>
			</ul>
		</footer>
	</body>
</html>
