<!DOCTYPE html>
<html>
	<head>
		<title>sabrina li, irl</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">here</a></li>
	        	<li><a href="/social">social</a></li>
            <li><a href="/design">design</a></li>
        		<li><a href="/photo">photo</a></li>
            <li><a href="/video">video</a></li>
            <li><a href="/published">published</a></li>
    		</ul>
		</nav>
		<div class="container">
